APP_HOST=YOUR_APP_HOST
APP_PORT=YOUR_APP_PORT


DB_HOST=YOUR_DB_HOST
DB_USER=YOUR_DB_USER
DB_PASS=YOUR_DB_PASS
DB_NAME=YOUR_DB_NAME
DB_PORT=YOUR_DB_PORT

RDB_HOST=YOUR_RDB_HOST
RDB_PORT=YOUR_RDB_PORT
RDB_USERNAME=YOUR_RDB_USERNAME
RDB_PASSWORD=YOUR_RDB_PASS

JWT_ISSUER=YOUR_JWT_ISSUER
JWT_SECRET=YOUR_JWT_SECRET